<div class="row justify-content-center">
  <div class="col-8">
    <form #form="ngForm" (ngSubmit)="addProduct(form)">
      <div class="form-group mt-4">
        <label for="name">Ürün Adı</label>
        <input
          type="text"
          class="form-control"
          required
          minlength="3"
          [(ngModel)]="model.name"
          name="name"
          #name="ngModel"
        />
      </div>
      <p class="text text-danger small" *ngIf="name.invalid && name.touched">
        Ürün ismi en az 5 karakter olmalıdır
      </p>
      <div class="form-group mt-4">
        <label for="price">Fiyat</label>
        <input
          type="number"
          class="form-control"
          id="price"
          min="0"
          required
          [(ngModel)]="model.price"
          name="price"
          #price="ngModel"
        />
      </div>
      <p class="text text-danger small" *ngIf="price.invalid && price.touched">
        Fiyat en az 0 (sıfır) olabilir
      </p>
      <div class="form-group mt-4">
        <label for="photo">Ürün Fotoğrafı</label>
        <input
          type="text"
          class="form-control"
          #photo
          required
          [(ngModel)]="model.photo"
          name="photo"
        />
      </div>
      <div class="form-group mt-4">
        <label for="desc">Ürün Açıklaması</label>
      </div>
      <div class="form-check mt-2">
        <input
          class="form-check-input me-2"
          type="checkbox"
          [(ngModel)]="model.isActive"
          name="isActive"
        />
        <label class="form-check-label" for="isActive"> Ürün Stokta Var </label>
      </div>
      <div class="form-group mt-4">
        <select
          [(ngModel)]="model.categoryId"
          name="categoryId"
          required
          class="form-select"
          [value]="-1"
        >
          <option value="-1" disabled>Kategori Seç</option>
          <option value="{{ category.id }}" *ngFor="let category of categories">
            {{ category.name }}
          </option>
        </select>
      </div>
      <button
        type="submit"
        class="btn btn-outline-primary mt-4"
        [disabled]="form.invalid"
      >
        Ürün Ekle
      </button>
    </form>
  </div>
</div>
