<div class="row justify-content-center">
  <div class="col-8">
    <form>
      <div class="form-group mt-4">
        <label for="name">Kategori Adı</label>
        <input
          type="text"
          class="form-control"
          id="name"
          #name
          required
          [value]="updatedCategory.name"
        />
      </div>
      <button
        type="button"
        class="btn btn-outline-primary mt-4"
        (click)="updateCategory(name)"
      >
        Güncelle
      </button>
    </form>
  </div>
</div>
